@use "../../partials/typography" as *;

.lovematch {
    width: 100vw;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-form {
        font-family: $sweetSans;
        width: 100%;

        &__container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            text-transform: uppercase;
        }

        &__input-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        &__btnimg {
            padding: 0 .2rem;
            margin-top: .5rem;
        }
    }


    &__result{
        font-family: 'Gt Super';
        text-transform: uppercase;
        color: #FF0000;
        background-image: radial-gradient(circle, #ffffff, #f8d1fc0f, #ff97d200);
        background-size: 100% 100%;
        width: 50%;
        height: 100%;

        &--image{
            width: 15rem;
        }
    }
}
button {
    padding: 0 .5rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #fffafa;
}
.lovematch-form__name-input {
    text-indent: 0.5rem;
    background-image: '❤️';
}

button {
    padding: 1rem;
    width: 10rem;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px #FF0000;
    background-color: #fffafa;
    box-shadow: inset 0 0 0 0 #FF0000;
    transition: ease-in-out 0.5s; 
    outline: none;
    color: #FF0000;
    font-size: .7rem;
    font-weight: 600;
    font-style: italic; 

    &:hover, &:focus {
        box-shadow: inset 13rem 0 0 0 (#FF0000); 
        cursor: pointer;
        color: #ffff;
        font-size: 1.1rem;
        font-family: 'GT Super';
        letter-spacing: 2px;
        border: #ffff;
        font-style: normal;
    }
}