@use "../../partials/typography" as *;

.header {
    font-family: 'Gt Super';
    margin: 5rem auto;
    text-align: center;
    animation: 1.5s ease 0s infinite beat;
    &__title{
        font-style: italic;
        font-weight: 400;
        font-size: 3rem;

    }
    animation: 1.5s ease 0s infinite beat;

    @keyframes beat {
        // 0%, 50%, 100% { transform: scale(1, 1); }
        30%, 80% { transform: scale(0.92, 0.95); }
    }

    @keyframes pulse {
        0%, 50%, 100% {  background: #fee; }
        30%, 80% { background: #fff; }
    }
}