@use "./partials/typography" as *;
@use "./Components/Form/form";
@use "./Components/Header/header";

*,
*::before,
*::after {
  box-sizing: border-box;
}

// :root {
//     --bodygradient: radial-gradient(
//         circle,
//          rgba(70,51,210,1) 0%, 
//          rgba(255,91,162,1) 100%);
//   }

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'AvenirNext LT Pro';
}
