@use "./partials/typography" as *;
@use "./Components/Form/form";
@use "./Components/Header/header";
@use "./Components/Heart/heart";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'AvenirNext LT Pro';
    background-color: #fffafa;
    background-image: radial-gradient(circle, #ffffff, #f8d1fc, #ff97d2, #ff517f, #ff0000);
    background-size: 100% 300%;
    background-position-y: 55rem;
}

